---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="My Blog Coming Soon ...">
  <main>
    <div class="relative w-4/5 m-auto">
      <img src="/coming-soon.png" class="w-full" />
      <p class="absolute top-8 text-6xl ml-8">My Blog Coming Soon ...</p>
    </div>
  </main>
</BaseLayout>
